<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div>@Html.ActionLink("UnCHARTERed Territory", "Index", "SchoolApplication", new { area = "" }, new { @class = "navbar-brand" })</div>
        </div>
        <div class="navbar-collapse collapse"> 
            <ul class="nav navbar-nav navbar-right">
                @*<li><a href="/#/schoolProfile">Profile</a></li>*@
                @*This was the original link to call views server-side*@
                @Html.ActionLink("Profile", "UserProfile", "SchoolApplication", new { area = "" }, null)
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

